# Git files
.git
.gitignore
.gitmodules

# Documentation that's not needed in container (from submodule)
dgamelaunch/README
dgamelaunch/Bugs
dgamelaunch/TODO
dgamelaunch/Changelog

# Build artifacts (will be built in container)
dgamelaunch/*.o
dgamelaunch/.depend
dgamelaunch/dgamelaunch
dgamelaunch/ee
dgamelaunch/virus
dgamelaunch/y.tab.*
dgamelaunch/lex.yy.c
dgamelaunch/config.h
dgamelaunch/config.log
dgamelaunch/config.status
dgamelaunch/Makefile
dgamelaunch/autom4te.cache

# macOS files
.DS_Store

# Editor files
*~
*.swp
*.swo

# Scripts not needed in container
setup-submodule.sh
